{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "endOfLine": "auto"
}