@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nazalization';
  src:
    url('/nasalization-rg.woff') format('woff2'),
    url('/nasalization-rg.eot') format('woff'),
    url('/nasalization-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  width: 100dvw;
  height: 100dvh;
  user-select: none;
  overflow: hidden;
  font-family:
    'Nazalization',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  overflow: hidden;
  background: #000;
}

.speed-control label,
.camera-controls label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.camera-controls input {
  margin-right: 5px;
}

.speed-control input {
  width: 100%;
  margin-top: 5px;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90px;
  height: 80px;
}

.icon img {
  width: 100%;
  height: 100%;
}
